@import "tailwindcss";

.flex-justify-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading{
  font-size: 16px;
  font-weight: 800;
}

.sub-heading{
  font-size: 12px;
  font-weight: 600;
}

.text{
  font-size: 10px;
}

.description{
  font-size: 8px;
  font-weight: 200;
}